.container {
    width: 100%;
    color: aliceblue;
    align-self: center;
    position: relative;
    left: 65%;
}

.steps {
    counter-reset: step;
}

.steps li {
    list-style-type: none;
    float: left;
    width: max-content;
    position: relative;
    text-align: center;
}
.steps li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    border-radius: 50%;
    line-height: 30px;
}
.steps li:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #ddd;
    top: 15px;
    left: -50%;
}